@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

:root {
    /* Primary Colours */
    --yellow: hsl(51, 100%, 49%);
    --soft-red: hsl(7, 99%, 70%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);

    /* Neutral Colours */
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(210, 4%, 67%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);

    /* Other Colours */
    --moderate-cyan: hsl(167,44%,70%);
}

a {
    text-decoration: none;
    color: var(--white);
}

.center {
    text-align: center;
}
.hidden {
    display: none;
}

/* header styles */
header {
    height: 75vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.headerImage{
    position: absolute;
    height: 100%;
    width: 100%;
}

.headerContent {
    position: absolute;
    height: 100%;
    width: 100%;
}

nav {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0rem;
}

.logo {
    height: 3rem;
    width: 12.5rem;
    position: absolute;
    left: 3rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--white);
}
.logo svg {
    height: 100%;
    width: 100%;
}

nav ul {
    width: 45vw;
    position: absolute;
    right: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: var(--white);
    text-decoration: none;
}

.contactBtn {
    font-family: 'Fraunces', sans-serif;
    background-color: var(--white);
    color: black;
    padding: 0.7rem 1rem;
    border: 2px solid transparent;
    border-radius: 2rem;
}
.contactBtn:hover {
    background-color: rgba(255, 255, 255, 0.250);
    color: var(--white)
}

.hamburgerMenuIcon {
    display: none;
}

.modal {
    height: 34rem;
    width: 90vw;
    z-index: 1;
    position: relative;
    clip-path: polygon(100% 0%, 94% 8%, 0 8%, 0 100%, 100% 100%);
    padding-top: 5rem;
    margin-inline: auto;
    background-color: var(--white);
}
.modal ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal ul li {
    display: inline;
    margin-block: 1.75rem;
}
.modal ul li a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
    font-size: 2rem;
}
.contactModalBtn {
    width: 11rem;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    background-color: var(--yellow);
    color: black;
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: 3rem;
}

.headerTextContainer {
    position: absolute;
    top: 20%;
    left: 25%;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: var(--white);
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Promo Cards styles */
.promoCardsContainer {
    height: fit-content;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.promoCard {
    height: 30rem;
    position: relative;
    display: flex;
} 
.promoCard-color {
    background-color: var(--white);
}
.promoCard__content {
    margin-inline: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.promoCard__content-bottom {
    margin: 1rem 3rem 1rem 3rem;
}

.promoCard img {
    height: 100%;
    width: 100%;
}

.bottomLayer {
    position: absolute;
}
.upperLayer {
    position: absolute;
    bottom: 0;
}

.promoCard__header {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: var(--very-dark-desaturated-blue);
}
.promoCard__description {
    margin: 2rem auto;
    color: var(--dark-grayish-blue);
}

.learnMoreContainer {
    width: 9.5rem;
    display: flex;
    flex-direction: column;
}
.promoCard__learnMore {
    z-index: 1;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--very-dark-desaturated-blue);
    text-underline-offset: 0.5px;
}
.promoCard__learnMore--underline {
    height: 0.6rem;
    width: 9.5rem;
    margin-top: -0.5rem;
    border-radius: 3rem;
}
.learnMoreContainer a {
    margin-inline: auto; 
}

.learnMore-yellow {
    background-color: var(--yellow);
}
.learnMore-red {
    background-color: var(--soft-red);
}

.promoCard__background-green {
    color: var(--dark-desaturated-cyan);
}
.promoCard__background-lightgreen {
    color: var(--dark-moderate-cyan);
}
.promoCard__background-blue {
    color: var(--very-dark-desaturated-blue);
}
.promoCard__background-lightblue {
    color: var(--dark-blue);
}


/* Testimonials styles */
.testimoniesContainer {
    height: fit-content;
    width: 100vw;
    margin: 9rem 0 5rem 0;
}

.testimoniesContainer h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 0.25rem;
    color: var(--grayish-blue);
}

.testimonialCardsContainer {
    height: fit-content;
    width: 100vw;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonialCard {
    height: 25rem;
    width: 22rem;
    margin: 2rem 1rem;
}
.testimonialCard__imageContainer {
    display: flex;
    justify-content: center;
}
.testimonialCard__image {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}
.testimonialCard__description {
    text-align: center;
    margin-block: 4rem 5rem;
    color: var(--dark-blue);
    color: var(--very-dark-desaturated-blue);
}
.testimonialCard__name {
    font-family: 'Fraunces', sans-serif;
    text-align: center;
    color: var(--dark-desaturated-cyan);
    padding-bottom: 0.75rem;
}
.testimonialCard__title {
    text-align: center;
    color: var(--grayish-blue);
}


/* footer styles */
footer {
    height: fit-content;
    width: 100vw;
    background-color: var(--moderate-cyan);
    display: flex;
    flex-direction: column;
}

.footer__imageGallery {
    height: 50%;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer__imageGallery img {
    height: 100%;
    width: 100%;
}

.footer__navbar {
    height: 50%;
    background-color: var(--moderate-cyan);
}
.footer__navbar span {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.footer__navbar span svg path {
    color: var(--dark-desaturated-cyan);
    fill: var(--dark-desaturated-cyan);
}

footer ul {
    display: flex;
    justify-content: center;
}
footer ul li {
    display: inline;
    margin: 2rem;
}
footer ul li a {
    color: var(--dark-moderate-cyan);
    text-decoration: none;
}
footer ul li a:hover {
    color: var(--white);
}

.footer__socials {
    text-align: center;
    margin: 2rem;
}
.footer__socials a {
    text-decoration: none;
}
.footer__socials svg {
    margin: 0.25rem;
    color: var(--dark-moderate-cyan);
}
.footer__socials svg path:hover {
    fill: var(--white);
    color: var(--white);
}


/* Media Queries */
/* Mobile Breakpoint */
@media only screen and (max-width: 699.98px) {
    header {
        height: 100vh;
    }
    .logo {
        left: 2rem;
    }
    nav {
        margin-top: 3rem;
    }
    nav ul {
        right: 2rem;
        display: flex;
        justify-content: flex-end;
    }
    nav ul li {
        display: none;
    }
    .hamburgerMenuIcon {
        display: block;
    }
    .headerTextContainer {
        left: 15%;
        letter-spacing: 0;
        font-size: 1.25rem;
    }

    .promoCardsContainer {
        display: flex;
        flex-direction: column;
    }
    .promoCard--withImage {
        height: 20rem;
    }
    .promoCard--withContent {
        height: 40rem;
        position: relative;
        display: flex;
    }
    .promoCard__content {
        text-align: center;
        margin-inline: 2rem;
    }
    .promoCard__description {
        line-height: 2rem;
    }
    .promoCard__content-bottom {
        margin: 0.5rem 2rem;
    }
    .promoCard img {
        height: 100%;
        width: 100%;
    }
    .learnMoreContainer {
        margin-inline: auto
    }

    .grid-order-1 {
        order: 1;
    }
    .grid-order-2 {
        order: 2;
    }
    .grid-order-3 {
        order: 3;
    }
    .grid-order-4 {
        order: 4;
    }
    .grid-order-5 {
        order: 5;
    }
    .grid-order-6 {
        order: 6;
    }

    .footer__imageGallery {
        height: 100%;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    footer ul li {
        margin: 1rem;
    }
}
/* Mobile Breakpoint */
@media only screen and (max-width: 600px) {
    .testimoniesContainer {
        margin: 0;
    }
    .testimonialCardsContainer {
        margin-top: 0;
    }
    .testimonialCard {
        height: 19rem;
        margin: 0 1rem;
    }
    .testimoniesContainer h2 {
        font-size: 0.8rem;
        margin-block: 4rem;
    }
    .testimonialCard__description {
        font-size: 1rem;
        margin-block: 2rem;
    }
    .testimonialCard__name {
        font-size: 0.95rem;
    }
    .testimonialCard__title {
        font-size: 0.7rem;
    }
}

/* Moblie Breakpoint */
@media only screen and (max-width: 500px) {
    .headerTextContainer {
        left: 10%;
        font-size: 1rem;
    }
}
/* Medium Breakpoint */
@media only screen and (min-width: 700px) {
    .headerTextContainer {
        font-size: 2rem;
    }
    .modal{
        display: none;
    }
}

/* Medium Breakpoint */
@media only screen and (min-width: 990px) { 
    .promoCard__content-bottom {
        margin: 2rem 6rem 1rem 6rem;
    }
}

/* extra-Large Breakpoint */
@media only screen and (min-width: 1200px) {
    .promoCard__content {
        margin-inline: 10rem;
    }
    .promoCard__content-bottom {
        margin: 2rem 10rem 2rem 10rem;
    }
    .footer__imageGallery {
        height: 75%;
    }
}
